{% extends 'main/base.html' %}

{% block content %}
    <h1 class="page-title">Contact Me</h1>

    <div class="contact-card">
        <p>If you'd like to get in touch regarding my photography or just want to say hi, feel free to click the button below!</p>
        
        <button id="contactBtn" class="primary-btn">Say Hello!</button>
        
        <div id="thankYouMessage" class="hidden-message">
            <p>Thank you for reaching out! I'll get back to you soon.</p>
        </div>
    </div>
{% endblock %}
